* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  /* background-image: url("food5.jpg"); */
  /* color: white; */
  background-color: #f0f5f9;
}
.heading_container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 10px;
  /* color: white; */
}
.heading_container h1 {
  color: #11263c;
}
.searchbar_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search_results_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.item_1 {
  width: 250px;
  background-color: blue;
  margin: 2px;
  color: white;
}
h3 {
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding-top: 10px;
  /* color: #a6a6a6; */
}
.meal_card {
  width: 20%;
  /* height: 10; */
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 25px;
  /* padding-left: 10px; */

  /* background-color: #ddd; */
  background-color: #f7cac9;
  color: #11263c;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}
.meal_card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}
.meal_image {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 50px;
}

.fa {
  font-size: 26px;
  transition: 0.4s;
  margin: 3px;
  color: red;
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
.get_recipe {
  text-align: center;
  font-size: 24px;
  /* color: black; */
  color: #11263c;
  width: 100%;
  padding: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  /* background-color: #9cebd5; */
  background-color: #fc6011;
  font-family: "Playfair Display", serif;
}
.add_to_favoutires {
  outline: none;
  margin-top: 15px;
  border: 0;
  background-color: transparent;
}
.internal_div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  width: 900px;
  height: 600px;

  background: #000;
}
.meal_image_div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background: #212121;
  transition: 0.3s linear;
}
.meal_image_div img {
  /* width: 700px; */
  width: 50%;
  height: 50%;
  object-fit: cover;
  overflow: hidden;
}
.meal_decsription_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}
.meal_decsription_div h2 {
  margin: 0;

  padding: 0;
  font-size: 2.4em;
  color: #444;
}
.meal_decsription_div p {
  max-width: 85%;
  margin-left: 15%;
  color: beige;
  font-size: 15px;
  margin-bottom: 36px;
  overflow: hidden;
}

#x {
  position: absolute;
  background: red;
  color: white;
  top: -10px;
  right: -10px;
}
.outer {
  display: block;
}

.button {
  margin-left: 96%;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#nav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-image: linear-gradient(0deg, #fc6011, #fc6011);
}
.search_wrap {
  width: 500px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 500px;
  height: 50px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #fc6011;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: #fc6011;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}
.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
}
.search_wrap.search_wrap_3 .search_box .input {
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}
.fa-heart i {
  background-color: #11263c;
}
.offcanvas-header .bg-danger {
  background-color: #fc6011;
}
.meal_details_div {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  background-color: #f1f0e8;
  padding: 40px 40px;
}
.basedetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.mealsDetails_image {
  width: 40%;
  background-color: black;
}
.mealsDetails_image img {
  width: 100%;
}
.mealDetailsFull {
  width: 40%;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  padding: 70px 0;
}
#fulldt {
  background-color: #f1f0e8;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  width: 75%;
}
#bsdt {
  display: flex;
  flex-direction: row;
}
#itemImage {
  width: 50%;
}
#itemImage img {
  width: 70%;
  height: 250px;
  /* border-radius: 50%; */
}
#bsdthead {
  width: 50%;
  padding: 40px;
  text-align: center;
}
#ins {
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.btn-success {
  background: #fc6011;
  color: #ffffff;
}

.btn-success:hover {
  background: #fc6011;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: white;
}
